@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&family=Roboto+Mono:wght@100;400&display=swap");

html {
    font-size: 24px;
}
:root {
    --strive-green: #00ff84;
}

.header {
    display: flex;
    justify-content: center;
}

.header img {
    width: 30vw;
    margin: 10vh;
}

h2 {
    font-weight: 900;
    font-size: 2em;
    display: inline-flex;
    align-items: center;
    margin: 0.5em 0px;
}

img[src="icon.png"] {
    width: 50px;
    margin-right: 0.8ch;
}

.flex-container.row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-container.row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-container.column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-container.column-reverse {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column-reverse;
}

.flex-container.nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-container.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-container.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.flex-container.align-items-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-container.align-items-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.flex-container.align-items-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-container.align-items-baseline {
    webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.flex-container.align-items-stretch {
    webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/*justify-content: flex-start | flex-end | center | space-between | space-around;*/

.flex-container.justify-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-container.justify-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-container.justify-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-container.justify-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-container.justify-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.flex-container.justify-space-evenly {
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
}

/*align-content: flex-start | flex-end | center | space-between | space-around | stretch;*/

.flex-container.align-content-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.flex-container.align-content-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.flex-container.align-content-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.flex-container.align-content-space-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.flex-container.align-content-space-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: justify;
    /*distribute;*/
    align-content: space-around;
}

.flex-container.align-content-stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

/*align-self: auto | flex-start | flex-end | center | baseline | stretch;*/

.item.align-self-auto {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.item.align-self-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.item.align-self-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.item.align-self-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.item.align-self-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.item.align-self-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.item.flex-grow1 {
    flex-grow: 1;
}

.item.flex-grow2 {
    flex-grow: 2;
}

.item.flex-grow3 {
    flex-grow: 3;
}

.item.flex-grow4 {
    flex-grow: 4;
}
html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #ddd;
    font-size: 14px;
    font-family: "Inter", Verdana, Geneva, sans-serif;
    background-color: rgb(19, 17, 17);
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.principal {
    width: calc(60% - 40px);
    min-width: 525px;
    margin: 0 auto;
}

.principal > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-props h4,
.container-props label,
.item-props h4,
.item-props label {
    font-family: "Roboto Mono", monospace;
    font-size: 1.3em;
    user-select: none;
}

.container-props h4,
.item-props h4 {
    color: var(--strive-green);
    margin: 2.5em 0px 0.8em;
}

.radio {
    margin-bottom: 20px;
}

label {
    line-height: 200%;
}

input[type="radio"] {
    /* color: white; */
    display: none;
}

input[type="radio"] + label {
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    color: var(--strive-green);
    border: 1px solid var(--strive-green);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:active,
input[type="number"]:focus {
    outline: none;
}

[data-color] {
    filter: invert(0.8) saturate(1) hue-rotate(10deg);
    position: relative;
    overflow: hidden;
}

[data-color]:after {
    content: "";
    display: block;
    position: absolute;
    inset: 0px;
    background: var(--strive-green);
    z-index: 1;
    mix-blend-mode: color;
    opacity: 0.3;
}

[data-color] p {
    color: black !important;
}

input[type="number"] {
    width: 50px;
    margin-right: 0.5em;
    border-radius: 5px;
    border: 1px solid var(--strive-green);
    background: transparent;
    color: white;
    -moz-appearance: textfield;
    padding: 10px;
    font-size: 1.2em;
}

h1 {
    font-size: 200%;
    margin: 20px;
}

table {
    width: 100%;
    margin-bottom: 1em;
}
table td {
    width: 50%;
    padding: 3px;
}
.principal:last-of-type h4 small {
    color: #ff8080;
}
.flex-container {
    border: 1px solid #555;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    width: 100%;
}
.item {
    margin: 5px;
    display: inherit;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.item p {
    width: 100%;
    text-align: center;
    color: #fff;
}
#direction .item {
    flex-wrap: wrap;
}
#wrap {
    width: 400px;
}
#align .item {
    height: auto;
    height: auto;
    flex-wrap: wrap;
}
#align {
    height: 300px;
}
#justify {
    margin: 20px 0;
    padding: 20px 0;
}
#alignContent {
    flex-wrap: wrap;
    height: 600px;
}
#alignContent .item {
    height: auto;
}
#FCI1 {
    height: 300px;
}
#FCI1 .item {
    height: auto;
}
#FCI3 .item {
    width: 25%;
}
#FCI4 .item {
    width: 50%;
}
#FCI5 .item {
    width: 20%;
}
.nbsp {
    white-space: nowrap;
}

iframe {
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 1100px) {
    .principal {
        width: calc(100% - 40px);
    }
}
@media only screen and (max-width: 580px) {
    .item {
        width: 50px;
        height: 50px;
    }
    .principal {
        width: calc(100% - 40px);
        min-width: initial;
    }
    .flex-container {
        width: 100%;
        min-width: initial;
    }
    #wrap {
        width: 200px;
    }
}
